@mixin small-font {
    font-size: 14px;
    line-height: 16px;
}
@mixin tiny-font {
    font-size: 13px;
    line-height: 15px;
}
@mixin regular-font {
    font-size: 15px;
    line-height: 18px;
}
@mixin large-font {
    font-size: 16px;
    line-height: 19px;
}
@mixin big-font {
    font-size: 17px;
    line-height: 20px;
}
@mixin huge-font {
    font-size: 19px;
    line-height: 22px;
}